@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

   /* div {
    border-radius: 1px;
    border-color: red;
    border-style: solid;
}     */

.banner {
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-style: none;
    border-radius: 0px;
    display: flex;
}


img {
    width: 150px;
    height: 150px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
}

.webpage-top {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 30px 40px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 50px 90px;
}

.top-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
    flex-shrink:
}

button {
    background-color: #3882f6;
    display: inline-block;
    border: none;
    border-radius: 8px;
    padding: 0.5em 2em;
    margin: 0;
    color: #e5e7eb;
    font-weight: 900;
    width: max-content;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}


.info-box {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 70px;
}

.box {
    flex-wrap: wrap;
    max-width: 150px;
    
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 30px;
}

.blockquote {
    background-color:#e5e7eb;
    padding: 50px;
}

.blockquote > p {
    text-align: right;
    font-weight: 900;
}

.blocktext {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937
}


.main-subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 900;
}

.bottom-content {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin: 50px;
}

.action {
    border: white;
    border-style: solid;
    
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
    justify-content: center;


}